/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2015, 6:39:26 PM
    Author     : genius
*/

a{
    cursor: pointer;
}
.side-nav {
    background-color: green ;
}
.navbar-inverse {
    background-color: green ;
   
}
body {
    background-color: green ;
   
}
input[type='file'] {
  color: transparent;
}